# dependencies
node_modules/
**/node_modules/

# builds / bundles
dist/
build/
.next/
.nuxt/
coverage/

# env & logs
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
